# Global options
{
    admin off
    persist_config off
    auto_https off

    log {
        format json
    }

    servers {
        trusted_proxies static private_ranges 100.0.0.0/8
    }
}

# Site block, listens on the $PORT environment variable, automatically assigned by Railway
:{$PORT:3000} {
    log {
        format json
    }

    rewrite /health /*

    # Serve from the 'build' folder (React builds into the 'build' folder)
    root * dist

    encode gzip

    file_server

    # If path doesn't exist, redirect it to 'index.html' for client-side routing
    try_files {path} /index.html
}
