/* Company Page */
.company_company-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}
/* Content */
.company_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
