.review_list_review-form-container textarea,
.review_list_review-form-container button {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: white;
    color: #e0e0e0;
}

.review_list_review-form-container textarea {
    resize: none;
}

.review_list_review-form-container button {
    background-color: #573f2e;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.review_list_review-form-container button:hover {
    background-color: #EEC170;
}

/* Star ratings */
.review_list_rating-section {
    margin-bottom: 1rem;
}

/* Container for 5 stars + number rating */
.review_list_star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.review_list_star-rating img.review_list_star {
    width: 32px;
    height: auto;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s;
}

/* change to filled yellow star when clicked/hovered */
.review_list_star-rating img.star.filled {
    opacity: 1;
    content: url('star-yellow.png');
}

.review_list_star-count {
    margin-left: 0.5rem;
    font-weight: bold;
    min-width: 1ch;
    text-align: center;
    display: inline-block;
}
.review_list_sub-caption {
    font-size: 11px;
    color: lightgray;
}

.review_list_rating-category{
    display: flex;    
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
/* .review_list_rating-category label{
    
} */