.profile_reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/* Profile Info */
.profile_profile-info {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #292929;
    border-radius: 4px;
    border: 1px solid #444;
}
