/* Header */
.header {
    background-color: #523a28;
    color: #e0e0e0;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.logo {
    margin-right: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    /* font-family: 'Ahsing'; */
}

.logo a {
    font-size: 3rem;
}

.search-bar {
    display: flex;
    flex: 1;
    max-width: 30rem;
    margin-right: 2rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.6rem;
}

.nav-links,
.auth-links {
    display: flex;
    gap: 5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a,
.auth-links a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 1.6rem;
}

.nav-links a:hover,
.auth-links a:hover {
    text-decoration: underline;
}
@media (max-width:600px)  {
    .header_home, .header_home a {
        display: none;
    }
}
