.content-box {
    padding: 3rem;
    background-color: #333;
    border-radius: 4px;
    border: 1px solid #444;
    color: white;
    font-size: 1.8rem;
}

/* .content-box div span {
    color: white;
    font-size: 1.7rem;
} */
/* .content-box div h3 {
    color: #313030;
    font-weight: bold;
    font-size: 2.3rem;
}

.overview-left{
    width:50%;
 font-size:2.5rem;
 font-weight:bold;
}
.overview-right{
    width:30%;
    text-align:right;
}
#reviews{
    background-color: #523a28;
    align-self:center;
    width:65%;
}
.position {
    font-size: 21px;
    margin-bottom: 10px;
}
div.feed-item {
    background-color: #6b4a30;
    width: 137%;
} */